---

import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

---

 <Layout>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre mí</title>
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  


    <div class="container">
      <h1 style="margin-bottom: 1rem;">Sobre mí</h1>

      <div class="card">
        <p>¡Hola! Me llamo Ivan Lopez y soy una persona apasionada por el diseño, la tecnología y el aprendizaje constante.</p>
        <p>Actualmente me enfoco en terminar el curso de 2º de daw antes de que me de un jamacuco, y disfruto crear experiencias digitales funcionales y estéticas.</p>
        <p>Fuera del trabajo, me gusta darme de ostias con el teclado picando codigo.</p>
      </div>
   
      <a href="/" class="button" style="margin-top: 2rem; display: inline-block;">Volver al inicio</a>
    </div>
  </Layout>




