---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---



  
  <Layout>
    
	<div class="container">

    <div class="container">
      <h1 style="margin-bottom: 0.5rem;"></h1>
      <p style="color: var(--color-muted); margin-bottom: 2rem;">
        Este es un ejemplo de proyecto con ASTRO de lo que hemos visto desde la semana 5 hasta la semana 8.
      </p>

      <div style="display: flex; gap: 1rem;">
        <a href="/about" class="button">Sobre mí</a>
        <a href="/contact" class="button">Contacto</a>
        <a href="/blog" class="button">Blog</a>
        <a href="/proyectos" class="button">Proyectos</a>
      </div>
    </div>
  </Layout>




