---
// src/components/header.astro
const currentYear = new Date().getFullYear();
---

<header style="
  position: sticky;
  background-color: rgba(32, 204, 181, 0.435);
  border-bottom: 1px solid var(--color-border);
  padding: 1rem 0;
  margin-bottom: 2rem;
">
  <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
    <h1 style="font-size: 1.50rem; font-weight: 500;">PROYECTO ASTRO POR IVAN LOPEZ</h1>
    <nav style="display: flex; gap: 1rem;">
<img src="/favicon.svg" alt="Logo" style="width: 30px; height: 30px; border-radius: 50%;" />
<img src="/images/fondo developed.jpg" alt="Descripción de la imagen" width="300; " />
      <a href="/" class="button">Inicio</a>
  
    </nav>
  </div>
</header>

<style>
 
</style>